
#World Spawning and Generation options for Better Default Biomes.
[World]

	#Define which mobs should spawn. (Default: "true" for all mobs.)
	[World.Mob_Spawning]
		Hunter = true
		Jungle_Creeper = true
		Lost_Miner = true
		Desert_Bandit = true
		Frozen_Zombie = true
		Muddy_Pig = true
		Camel = true
		Duck = false
		Zebra = true
		Frog = false

	#Turn off world generation features in Better Default Biomes.
	[World.Generation]

		[World.Generation.Flowers]
			Pink_Cactus_Flower = true
			Purple_Verbena = true
			Mushrooms = true
			Blue_Poppy = true
			Dark_Violet = true

#Disable Enchantments from Better Default Biomes. (Default: "true" for all Enchantments.)
[Enchanting]
	#Mobs in a small area around the Player get the Glowing effect.
	enable_scout = true
	#Bows/Crossbows do more damage against animals.
	enable_hunting = true
	#Horse Protection Enchantments like the Vanilla Protection Enchantments for the Player.
	enable_horse_protection = true
	#Thorns for Shields.
	enable_spikes = true
	#Knockback for Shields.
	enable_guard = true
	#Horses float in water.
	enable_floating = true

	[Enchanting.Smelting_Touch]
		#Smelt blocks when mining.
		enable_smelting_touch = false
		#Sets Mobs/Players on fire when attacked.
		set_on_fire = false

#Item configurations for Better Default Biomes. (Default: "true" for all settings.)
[Item]

	[Item.Torch_Arrow]
		#Set Mobs/Players on fire when hit by a Torch Arrow.
		set_on_fire = true

#Trading configurations for Better Default Biomes. (Default: "true" for all settings.)
[Trading]
	#Enable trades added by Better Default Biomes.
	enable_trades = true

#Extensive Config options for all the Mobs.
[Mobs]

	#Config options for the Hunter and Variants.
	[Mobs.Hunter]
		#Spawn weight for the Hunter. (Default: 90)
		#Range: 0 ~ 10000
		weight = 90
		#Minimum amount of Hunters to spawn in a group. (Default: 1)
		min_group = 1
		#Maximum amount of Hunters to spawn in a group. (Default: 3)
		max_group = 3
		#Drop chance for the "Hunter's Bow" (Default: 8)
		#Range: 0 ~ 200
		drop_chance = 8
		#Spawn Biomes/BiomeCategories where the Hunter will spawn.
		#To add Biomes or Categories:
		#["Category 1", "Category 2", "Biome 1", "Biome 2", etc...]
		spawn_biomes = ["jungle"]

		#The Head Hunter is a special variant of the Hunter. It's even more deadly!
		[Mobs.Hunter.Head_Hunter]
			#Enables the spawning of the Head Hunter. (Default: true)
			head_hunter = true
			#Spawn weight for the Head Hunter. (Default: 10)
			#Range: 0 ~ 10000
			weight = 10

			#This is the interval between shots.
			[Mobs.Hunter.Head_Hunter.Firing_Speed]
				#Tweak the firing speed of the Head Hunter. (Default: 20)
				#For reference: The Vanilla Skeleton firing speed is: 40.
				firing_speed = 20
				#Tweak the firing speed of the Head Hunter for the Hard Difficulty. (Default: 10)
				#For reference: The Vanilla Skeleton firing speed for the Hard difficulty is: 20.
				firing_speed_hard = 10

	[Mobs.Jungle_Creeper]
		#Spawn weight for the Jungle Creeper. (Default: 90)
		#Range: 0 ~ 10000
		weight = 90
		#Minimum amount of Jungle Creepers to spawn in a group. (Default: 1)
		min_group = 1
		#Maximum amount of Jungle Creepers to spawn in a group. (Default: 3)
		max_group = 1
		#Spawn Biomes/BiomeCategories where the Jungle Creeper will spawn.
		#To add Biomes or Categories:
		#["Category 1", "Category 2", "Biome 1", "Biome 2", etc...]
		spawn_biomes = ["jungle"]

	[Mobs.Lost_Miner]
		#Spawn weight for the Lost Miner. (Default: 160)
		#Range: 0 ~ 10000
		weight = 160
		#Minimum amount of Lost Miners to spawn in a group. (Default: 1)
		min_group = 1
		#Maximum amount of Lost Miners to spawn in a group. (Default: 3)
		max_group = 1
		#Drop chance for the "Miner's Pickaxe" and "Miner's Helmet" (Default: 8)
		#Range: 0 ~ 200
		drop_chance = 8
		#The Lost Miner spawns in all Biomes by default.
		#These Biomes/BiomeTypes will be removed from the Spawn List.
		remove_biomes = ["nether", "the_end"]

	[Mobs.Desert_Bandit]
		#Spawn weight for the Desert Bandits. (Default: 90)
		#Range: 0 ~ 10000
		weight = 90
		#Spawn Biomes/BiomeCategories where the Desert Bandits will spawn.
		#To add Biomes or Categories:
		#["Category 1", "Category 2", "Biome 1", "Biome 2", etc...]
		spawn_biomes = ["desert"]

	[Mobs.Frozen_Zombie]
		#Spawn weight for the Frozen Zombie. (Default: 95)
		#Range: 0 ~ 10000
		weight = 95
		#Minimum amount of Frozen Zombies to spawn in a group. (Default: 4)
		min_group = 1
		#Maximum amount of Frozen Zombies to spawn in a group. (Default: 4)
		max_group = 2
		#Spawn Biomes/BiomeCategories where the Frozen Zombie will spawn.
		#To add Biomes or Categories:
		#["Category 1", "Category 2", "Biome 1", "Biome 2", etc...]
		spawn_biomes = ["taiga", "icy"]
		#Removes Vanilla Zombie Spawning in these Biomes. (Default: true)
		remove_vanilla_zombies = true

	[Mobs.Muddy_Pig]
		#Spawn weight for the Muddy Pig. (Default: 10)
		#Range: 0 ~ 10000
		weight = 10
		#Minimum amount of Muddy Pigs to spawn in a group. (Default: 4)
		min_group = 1
		#Maximum amount of Muddy Pigs to spawn in a group. (Default: 4)
		max_group = 2
		#Spawn Biomes/BiomeCategories where the Muddy Pig will spawn.
		#To add Biomes or Categories:
		#["Category 1", "Category 2", "Biome 1", "Biome 2", etc...]
		spawn_biomes = ["swamp"]
		#Removes Vanilla Pig Spawning in these Biomes. (Default: true)
		remove_vanilla_pigs = true

	[Mobs.Camel]
		#Spawn weight for the Camel. (Default: 1)
		#Range: 0 ~ 10000
		weight = 1
		#Minimum amount of Camels to spawn in a group. (Default: 2)
		min_group = 1
		#Maximum amount of Camels to spawn in a group. (Default: 3)
		max_group = 2
		#Spawn Biomes/BiomeCategories where the Camel will spawn.
		#To add Biomes or Categories:
		#["Category 1", "Category 2", "Biome 1", "Biome 2", etc...]
		spawn_biomes = ["desert"]

	[Mobs.Duck]
		#Spawn weight for the Duck. (Default: 10)
		#Range: 0 ~ 10000
		weight = 10
		#Minimum amount of Ducks to spawn in a group. (Default: 4)
		min_group = 1
		#Maximum amount of Ducks to spawn in a group. (Default: 4)
		max_group = 3
		#Spawn Biomes/BiomeCategories where the Duck will spawn.
		#To add Biomes or Categories:
		#["Category 1", "Category 2", "Biome 1", "Biome 2", etc...]
		spawn_biomes = ["swamp"]
		#Removes Vanilla Chicken Spawning in these Biomes. (Default: true)
		remove_vanilla_chickens = true
		#This feature is disabled for now as it requires more testing.
		jockey = false

	[Mobs.Zebra]
		#Spawn weight for the Zebra. (Default: 12)
		#Range: 0 ~ 10000
		weight = 12
		#Minimum amount of Zebras to spawn in a group. (Default: 2)
		min_group = 1
		#Maximum amount of Zebras to spawn in a group. (Default: 4)
		max_group = 2
		#Spawn Biomes/BiomeCategories where the Zebra will spawn.
		#To add Biomes or Categories:
		#["Category 1", "Category 2", "Biome 1", "Biome 2", etc...]
		spawn_biomes = ["savanna"]

	[Mobs.Frog]
		#Spawn weight for the Frog. (Default: 10)
		#Range: 0 ~ 10000
		weight = 10
		#Minimum amount of Frogs to spawn in a group. (Default: 2)
		min_group = 2
		#Maximum amount of Frogs to spawn in a group. (Default: 4)
		max_group = 4
		#Spawn Biomes/BiomeCategories where the Frog will spawn.
		#To add Biomes or Categories:
		#["Category 1", "Category 2", "Biome 1", "Biome 2", etc...]
		spawn_biomes = ["swamp"]

#Debug options for Better Default Biomes.
[Debug]
	#Enables the "BetterDefaultBiomes (Extra Info)" files to be generated by the mod. (Default: false)
	extra_info_files = false

	#Logger options.
	[Debug.Loggers]
		#Enables a logger for more info about the registered spawns of the Mobs with selected SpawnBiomes. (Default: false)
		spawn_logger = false
		#Enables a logger for more info about the registered spawns of the Mobs that spawn in all Biomes by default. This is separate to avoid spam. (Default: false)
		spawn_logger_all = false
		#Enables a logger for more info about the removed vanilla spawns. (Default: false)
		remove_spawn_logger = false

	#Define which mobs should have the Glowing effect. (Default: "false" for all mobs.)
	[Debug.Glowing_Mobs]
		Hunter = false
		Jungle_Creeper = false
		Lost_Miner = false
		Desert_Bandit = false
		Frozen_Zombie = false
		Muddy_Pig = false
		Camel = false
		Duck = false
		Zebra = false
		Frog = false

